.ConclusionsBlock {
	font-family: 'MuseoSansCyrl', sans-serif;
	float: right;
	margin-top: 2em;
}

.conclusionsItem {
	filter: brightness(0.7);
	text-align: center;
	width: 165px;
	height: 190px;
	margin: 0.3em;
	padding-top: 2em;
	cursor: pointer;

	h6 {
		font-size: 12px;
		font-weight: 100;
		color: rgb(175, 175, 175);
	}

	h1 {
		font-weight: 700;
		font-size: 50px;
		color: rgb(175, 175, 175);
	}
	transition: filter 0.3s ease-in-out;

	&:hover {
		filter: brightness(1.2);
	}
}

.conclusionsItemBackground_1 {
	background: linear-gradient(
		to top left,
		rgba(255, 255, 255, 0.1),
		transparent 55%
	);
}

.conclusionsItemBackground_2 {
	background: linear-gradient(
		to top right,
		rgba(255, 255, 255, 0.1),
		transparent 55%
	);
}

.conclusionsItemBackground_3 {
	background: linear-gradient(
		to bottom left,
		rgba(255, 255, 255, 0.1),
		transparent 55%
	);
}

.conclusionsItemBackground_4 {
	background: linear-gradient(
		to bottom right,
		rgba(255, 255, 255, 0.1),
		transparent 55%
	);
}

@media (max-width: 770px) {
	.ConclusionsBlock {
		width: calc(165px + 165px + 1em);
		float: none;
		margin: 2em auto;
	}
}
