.box {
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	filter: brightness(0.8);
	white-space: nowrap;

	.menu {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		justify-content: center;
		align-items: center;

		li {
			a {
				text-decoration: none;
				color: white;
				display: inline-block;
				margin-left: 3em;
				position: relative;
				cursor: pointer;
				transition: color 0.3s, border-bottom-color 0.3s, filter 0.3s;

				&::after {
					content: '';
					position: absolute;
					left: 0;
					right: 0;
					bottom: -6px;
					height: 1px;
					background-color: transparent;
					transition: background-color 0.3s;
				}

				&:hover {
					color: white;
					filter: brightness(0.8);

					&::after {
						background-color: white;
					}
				}

				&.selected {
					color: white;
					filter: brightness(0.8);

					&::after {
						background-color: white;
					}
				}
			}
		}
	}

	.mobile_btn {
		display: none;
	}

	@media (max-width: 1200px) {
		.mobile_btn {
			display: block;
			position: absolute;
			right: 10px;
			top: 2.5em;
			cursor: pointer;
			z-index: 10;
		}

		.menu {
			text-align: center;
			display: flex;
			flex-direction: column;
			justify-content: center;
			position: fixed;
			left: -200vw;
			right: 0;
			top: 0;
			bottom: 0;
			width: 100%;
			min-width: 200px;
			height: 100vh;
			background-color: rgba(0, 0, 0, 1);
			z-index: 10;
			transition: left 0.3s;
			opacity: 0;

			li {
				a {
					margin-left: 0;
				}
			}

			&.active {
				left: 0;
				opacity: 1;
				visibility: visible;
			}
		}

		.menu a {
			font-size: 28px;
			display: block;
			margin-top: 1em;
		}
	}
}
